{{ define "main" }}
<section class="section container mt-1 pb-0">
  <div class="">
    <div class="home-top-holder text-center">
      <h1 class="mt-0">How Can We Help You?</h1>
    </div>
    <!-- <form class="home-search">
      <svg class="home-search-svg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M22 22L20 20" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>                  
      <input id="search" class="form-hs-control is-home-search" type="search" placeholder="Search docs..." aria-label="Search docs..." autocomplete="off">
    <div id="suggestions" class="shadow bg-white rounded d-none home-search-res"></div>
    </form> -->
  </div>
</section>
<section class="section-sm container mt-1 pb-3">
  <div class="row justify-content-center">
    <div class="home-page-card card-transition home-card-body text-dark" >
      <div class="card-body py-3 d-flex flex-column align-items-center justify-content-center">
        <h2 class="card-title">Get Started</h2>
        <p class="card-text">Are you a new user or admin? Let's get you started!</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}get_started/overview/" class="stretched-link"></a>
      </div>
    </div>
    <div class="home-page-card card-transition home-card-body text-dark" >
      <div class="card-body py-3 d-flex flex-column align-items-center justify-content-center">
        <h2 class="card-title">Manage Your Panel</h2>
        <p class="card-text">Manage users, security keys, passkeys, and permissions</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}manage_panel/overview/" class="stretched-link"></a>
      </div>
    </div>
    <div class="home-page-card card-transition home-card-body text-dark " >
      <div class="card-body py-3 d-flex flex-column align-items-center justify-content-center">
        <h2 class="card-title">Workflow Automation</h2>
        <p class="card-text">Tap to action workflows. Reduce clicks, work faster.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}workflow_automation/overview/" class="stretched-link"></a>
      </div>
    </div>
    <div class="home-page-card card-transition home-card-body text-dark" >
      <div class="card-body py-3 d-flex flex-column align-items-center justify-content-center">
        <h2 class="card-title">VDI Agents</h2>
        <p class="card-text">IGEL, Citrix, VMware, and more support for your VDI Agent.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}vdi_agents/overview/" class="stretched-link"></a>
      </div>
    </div>
    <div class="home-page-card card-transition home-card-body text-dark" >
      <div class="card-body py-3 d-flex flex-column align-items-center justify-content-center">
        <h2 class="card-title ">Shared Devices</h2>
        <p class="card-text " >IDmelon Kiosk, shared PCs, and shared iOS or Android devices.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}shared_devices/overview/" class="stretched-link"></a>
      </div>
    </div>
    <div class="home-page-card card-transition home-card-body text-dark" >
      <div class="card-body py-3 d-flex flex-column align-items-center justify-content-center">
        <h2 class="card-title ">External Apps Login</h2>
        <p class="card-text " >SSO login, SP, and legacy password login automation.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}app_logins/overview/" class="stretched-link"></a>
      </div>
    </div>
    <div class="home-page-card card-transition home-card-body text-dark" >
      <div class="card-body py-3 d-flex flex-column align-items-center justify-content-center">
        <h2 class="card-title">Troubleshooting</h2>
        <p class="card-text">Having issues? We've got you covered.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}troubleshooting/" class="stretched-link"></a>
      </div>
    </div>
    <div class="home-page-card card-transition home-card-body text-dark" >
      <div class="card-body py-3 d-flex flex-column align-items-center justify-content-center">
        <h2 class="card-title ">Windows Login</h2>
        <p class="card-text ">Log in to Entra ID joined, hybrid, local Windows accounts, or UAC.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}windows_login/overview/" class="stretched-link"></a>
      </div>
    </div>
    <div class="home-page-card card-transition home-card-body text-dark" >
      <div class="card-body py-3 d-flex flex-column align-items-center justify-content-center">
        <h2 class="card-title ">Deployment</h2>
        <p class="card-text ">Driver and software deployment options.</p>
        <a href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}deployment/overview/" class="stretched-link"></a>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
